h3 { 
                text-align: center; 
            } 
            img { 
                display: block; 
                margin: auto; 
                height: 500px; 
                width: 200px; 
                
            }    
            .input { 
                margin: 3px; 
                padding: 5px; 
                display: block; 
                margin: auto; 
                color: rgb(5, 5, 67); 
                font-size: 20px; 
            } 
            input { 
                width: 90%; 
                display: block; 
                margin-left: 12px; 
                background: none; 
                background-color: rgb(255, 255, 255);       
            }      
            #heading { 
                font-family: 'Courier New', Courier, monospace; 
                text-align: center; 
                color: rgb(62, 12, 210); 
                padding-top: 30px; 
      
            } 
      
            #form_page { 
                height: 1000px; 
                width: 70%; 
                display: flex; 
                flex-wrap: wrap; 
                flex-direction: row; 
                margin: auto; 
      
            } 
      
            #form_body { 
                border-radius: 20px; 
                height: 600px; 
                width: 450px; 
                background-color: rgba(232, 182, 240, 0.844); 
                border: 10px solid  rgb(96, 75, 175); 
                margin: auto; 
                margin-top: 12px; 
            } 
      
            #text { 
                color: black; 
                width: 150px; 
            } 
      
            #head { 
                border-bottom: 5px solid rgb(96, 75, 175); 
                height: 100px; 
                background-color: rgb(167, 167, 255); 
            } 
      
            #submit { 
                background-color: rgb(247, 180, 247); 
                width: 70px; 
            } 
     
