h3 { 
    text-align: center; 
} 
   table, th , td {
        border: 3px solid rgb(93, 93, 161);
        border-collapse: collapse;
        padding: 5px;
    }
    table tr:nth-child(odd) {
        background-color: #d6d4f8;
    }
    table tr:nth-child(even) {
        background-color: #ecc5f0;
    }
